body {
    background-color: rgb(105, 105, 105);
}

#banner {
    background-image: url(ddbanner.jpg);
    color: rgb(110, 0, 0);
    padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: hidden;
    border-radius: 7px;
}

#bannerWords {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
}

#searchArea {
    background-color: rgb(31, 0, 0);
    color: rgb(145, 145, 145);
    text-align: center;
    padding: 20px;
    border: hidden;
    border-radius: 7px;
}

#homepageLink {
    float: left;
    background-color: rgb(110, 0, 0);
    padding: 15px;
    border: hidden;
    border-radius: 4px;
    font-family: 'Permanent Marker', cursive;
}

#homepageLink:hover {
    background-color: rgb(151, 151, 151);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

#search {
    float: left;
}

#listPaid {
    float: right;
}

input {
    border: 3px solid rgb(110, 0, 0);
    border-radius: 4px;
    padding: 6px;
    font-family: 'Itim', cursive;
    font-size: 20px;
}

button {
    background-color: rgb(110, 0, 0);
    padding: 10px 15px;
    color: white;
    border: hidden;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Itim', cursive;
    font-size: 20px;
}

button:hover {
    background-color: rgb(151, 151, 151);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

#results {
    background-color: rgb(110, 0, 0);
    font-family: 'Itim', cursive;
    font-size: 20px;
    padding: 25px;
    color: whitesmoke;
    border: hidden;
    border-radius: 7px;
}

#addedCampaign {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: black;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: dotted;
    color: black;
}

#addCampaignDiv {
    font-family: 'Itim', cursive;
    color: rgb(31, 0, 0);
    font-size: 15px;
}

#addLink {
    background-color: rgb(110, 0, 0);
    padding: 7px;
    border: hidden;
    border-radius: 4px;
    font-family: 'Permanent Marker', cursive;
}

#addLink:hover {
    background-color: rgb(151, 151, 151);
    color: black;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

#footer {
    background-color: rgb(31, 0, 0);
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 55px;
    width: 100%;
    overflow: hidden;
}